$dark-primary-color: #303F9F;
$primary-color: #3F51B5;
$light-primary-color: #C5CAE9;
$text-icons-color: #FFFFFF;
$accent-color: #E040FB;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$box-shadow-color: rgba(0, 0, 0, 0.48);

